# Paste your MongoDB connection string here
MONGODB_URI=mongodb+srv://vishvjeet0100_db_user:JfVnNNqM4y37BYPo@cluster0.otpavym.mongodb.net/?appName=Cluster0


PORT=5000
CLIENT_ORIGIN=http://localhost:5173
